# Configurações Globais
JWT_SECRET=NERVZW5jb2RlIG9ubGluZSIgY29tIHBlbG8gbWVub3MgMjU2IGJpdHMuMjU2IGJpdHMuMjU2IGJpdHMuMjU2IGJpdHMu
JWT_EXPIRATION=86400000
EUREKA_URI=http://localhost:8761/eureka/

# --- Configurações do Gateway ---
FRONTEND_URI=http://localhost:5173

# Senhas de Banco de Dados (Root)
MYSQL_ROOT_PASSWORD=root_password

# --- Configurações dos Bancos de Dados dos Microsserviços ---
MYSQL_USER_DB=ms_user_db
MYSQL_USER_USER=mysql_user
MYSQL_USER_PASSWORD=mysql_password
MYSQL_USER_PORT=3307

MYSQL_PROFILE_DB=ms_profile_db
MYSQL_PROFILE_USER=mysql_profile_user
MYSQL_PROFILE_PASSWORD=mysql_profile_password
MYSQL_PROFILE_PORT=3308

MYSQL_APPOINTMENT_DB=ms_appointment_db
MYSQL_APPOINTMENT_USER=mysql_appointment_user
MYSQL_APPOINTMENT_PASSWORD=mysql_appointment_password
MYSQL_APPOINTMENT_PORT=3309

MYSQL_PHARMACY_DB=ms_pharmacy_db
MYSQL_PHARMACY_USER=mysql_pharmacy_user
MYSQL_PHARMACY_PASSWORD=mysql_pharmacy_password
MYSQL_PHARMACY_PORT=3310

MYSQL_MEDIA_DB=ms_media_db
MYSQL_MEDIA_USER=mysql_media_user
MYSQL_MEDIA_PASSWORD=mysql_media_password
MYSQL_MEDIA_PORT=3311

MYSQL_CHAT_DB=ms_chat_db
MYSQL_CHAT_USER=mysql_chat_user
MYSQL_CHAT_PASSWORD=mysql_chat_password
MYSQL_CHAT_PORT=3312

MYSQL_BILLING_DB=ms_billing_db
MYSQL_BILLING_USER=mysql_billing_user
MYSQL_BILLING_PASSWORD=mysql_billing_password
MYSQL_BILLING_PORT=3314

MYSQL_NOTIFICATION_DB=ms_notification_db
MYSQL_NOTIFICATION_USER=mysql_notification_user
MYSQL_NOTIFICATION_PASSWORD=mysql_notification_password
MYSQL_NOTIFICATION_PORT=3313

MYSQL_AUDIT_DB=ms_audit_db
MYSQL_AUDIT_USER=mysql_audit_user
MYSQL_AUDIT_PASSWORD=mysql_audit_password
MYSQL_AUDIT_PORT=3315

# --- E-mail (Notification Service) ---
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=seu_email@gmail.com
MAIL_PASSWORD=sua_senha_de_app

UID=1000
GID=1000